extends layout

include mixins/sharedJade


block bodyScripts
  script(src='/main.js')
  
  
block content

  .page-header
   h2= pageHeader.header

  .row
    .col-xs-12.col-sm-8

      form(role="form", class="myFavNoveltiesFormClass", id="myFavNoveltiesForm")

        .form-group
          div
            label.control-label(for="firstName") First Name
          div
            input.form-control(id="firstName", name="firstName", placeholder="first name", maxlength="10")


        .form-group
          div
            label.control-label(for="lastName") Last Name
          div
            input.form-control(id="lastName", name="lastName", placeholder="last name", maxlength="10")


        .form-group
          div
            label.control-label(for="city") City
          div
            input.form-control(id="city", name="city", placeholder="city", maxlength="10")


        .form-group
          div
            label.control-label(for="state") State
          div
            +selectStateFormControl()


        .form-group
          div
            label.control-label(for="favNovelties") Novelties
          div
            +selectNoveltyFormControl()


        .col-xs-12(style="height:15px;")

        .form-group
          button(class="btn btn-primary") Submit Form NOW!

        .form-group
          div.button(class="btn clrFavForm btn-default", id="clearFormBtn") Clear Form

        .form-group
          div.button(class="btn clrFavForm btn-warning", id="cancelFormBtn") Cancel Form

        .col-xs-12(style="height:15px;")

    .col-xs-12.col-sm-4
      div.lead= sideBlurb















      