doctype html

html(lang='en')

  head

    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    block metas

    link(href='data:image/x-icon;', type='image/x-icon', rel='shortcut icon') 
    link(href='/bootstrap/css/bootstrap.min.css', rel='stylesheet')
    link(href='/bootstrap/css/bootstrap-select.min.css', rel='stylesheet')
    link(href='/stylesheets/style.css', rel='stylesheet')
    block links

    title= title

    block headScripts
    

  body

   .navbar.navbar-default.navbar-fixed-top
      .container
        .navbar-header
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='#navbar-main', aria-expanded='false', aria-controls='navbar')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          button(class="btn clrFavForm navbar-brand", id="navbarBrandBtn") ThisGreatApp!
            
        #navbar-main.navbar-collapse.collapse
          ul.nav.navbar-nav
            li 
              a(href='/about/') About
            li 
              a(href='/contact/') Contact
            li 
              a(href='/team/') Team


    .container
      block content

    footer
     .container
      p.text-muted
       small &copy; Alex Smith 2016

   script(src='/javascripts/jQuery.min.v2.2.4.js')
   script(src='/javascripts/jquery.validate.min.js')
   script(src='/bootstrap/js/bootstrap.min.js')
   script(src='/bootstrap/js/bootstrap-select.js')
   script(src='/javascripts/formValidation.js')
   block bodyScripts
